@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;

  .menu-top-left {
    display: flex;
    flex-direction: row;
    align-items: center;

    
  .menu-top-left-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu-top-left-logo {
      width: 260px;
      padding: 0 10px;
    }

  }

  .menu-top-left-button {
    background-color: transparent;
    border: none;
    color: $font-light;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg.MuiSvgIcon-root {
      margin: 2px;
      font-size: 1.8em;
    }
  }

    .menu-top-left-button:hover {
      color: $primary-color;
    }

    .menu-top-left-button:focus,
    .menu-top-left-button:active {
      outline: none
    }
  
  }


  .menu-top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;

    .menu-top-right-button {
      background-color: transparent;
      border: none;
      color: $font-light;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      svg.MuiSvgIcon-root {
        margin: 2px;
        font-size: 1.8em;
      }
    }

    .menu-top-right-button:hover {
      color: $primary-color;
    }

    .menu-top-right-button:focus,
    .menu-top-right-button:active {
      outline: none
    }
  }
}