@import "../../../scss/index.scss";

.menu-sider {
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  padding-top: 6rem;
  background-color: black;

  .menu-sider-row {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.2rem;
    width: 100%;
    overflow: hidden;

    .menu-sider-text {
      transition: color 0.3s;
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
  }

  .menu-sider-row:hover {
    background-color: $menu-color-item-hover;
  }

  .active {
    background-color: $menu-color-item;
  }

  svg.MuiSvgIcon-root {
    font-size: 1rem !important;
    margin-left: 1.5rem;
  }
}