 @import '../../../../scss/variables';

 .list-users {
   .list-user-header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 15px;  

     .list-users-switch {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center;

       span {
         margin: 0;
       }
     }
   }
 }




 .list-user-card {
   background-color: white;
   margin-bottom: 3px;
   display: flex;
   flex-direction: row;
   justify-content: stretch;
   align-items: center;
   flex-wrap: wrap;
   padding: 15px;
   //  border: 1px solid gray;

   .avatar {
     display: flex;
     justify-content: center;
     align-items: center;
     position: unset !important;

     .MuiAvatar-root,
     .MuiAvatar-circle,
     .MuiAvatar-colorDefault {
       position: unset;
       height: 4rem;
       width: 4rem;
     }
   }

   .userInfo {
     height: 100%;
     margin-left: 10px;
     display: flex;
     flex-direction: column;
     flex-grow: 1;
     justify-content: center;
     padding: 10px 10px;

     p {
       padding: 0;
       margin: 0;
     }
   }

   .actions {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 10px 10px;
     min-width: 200px;
     width: fit-content;

     .button {
       border-radius: 5px;
       color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       padding: 5px 9px;
       margin-right: 8px;

       .MuiSvgIcon-root {
         width: 20px;
       }
     }

     .button-edit,
     .button-activate {
       background-color: $menu-color-item;
     }

     .button-edit:hover,
     .button-activate:hover {
       background-color: $menu-color-item-hover;
     }

     .button-disable {
       background-color: $menu-color-item-warning;
     }

     .button-disable:hover {
       background-color: $menu-color-item-warning-hover;
     }

     .button-delete {
       background-color: $menu-color-item-danger;
     }

     .button-delete:hover {
       background-color: $menu-color-item-danger-hover;
     }



   }
 }