@import "../scss/index.scss";

.layout-admin {  
display: flex;
flex-direction: row;

  .layout-admin-main {
    background-color: rgb(243, 243, 243);
    transition: width 0.2s;
    width: 100%;
    .main-header {
      position: fixed;
      top:0;
      left:0;
      width: 100%;
      display: flex;
      padding: 0;
      height: 65px;
    }

    .main-content{
      min-height: calc(100vh - 62px);
      padding: 79px 15px 15px 20px;
    }

    .main-footer {
      padding: 20px;
    }
  }

}